%h1 My Profile
.my_profile
  %ul#jobdetails
    %li
      Name:
      = @profile.name
    %li
      Personal descpriton:
      = @profile.desc
    .form_title
      Contact Info.
      %hr
    %li
      Alternate Email:
      = @profile.altemail
    %li
      Telephone:
      = @profile.tel
    .form_title
      Address
      %hr
    %li
      Address line 1:
      = @profile.addr1
    %li
      Address line 2:
      = @profile.addr2
    %li
      City:
      = @profile.city
    %li
      state:
      = @profile.state
    %li
      Zipcode:
      = @profile.zipcode


  = button_to 'Edit', edit_profile_path(@profile) ,:class => 'common_button_search',:method => :get
