
%h1 Search results
.text_style



#search_results
  - @jobs.each do |job|
    .result
      %p= job[:title]
      %td= job[:companyname]
      %td= job[:city]
      %td= link_to job[:link], job[:link], :target => 'blank'

= paginate @jobs

