
%h1 Search results
.text_style



%table#jobs
  %thead
    %tr
      %th Job Title
      %th Company name
      %th Location
      %th Apply on Company Website

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job[:title]
        %td= job[:companyname]
        %td= job[:city]
        %td= link_to job[:link], job[:link], :target => 'blank'

= paginate @jobs

