%h1 Test search page!
= "Search by:"
= "Title"
= check_box_tag "test", 1, true
= "Company name"
= check_box_tag "test", 1, true
= "Location"
= check_box_tag "test", 1, true

%table#jobs
  %thead
    %tr
      %th Job Title
      %th Company name
      %th City

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job[:title]
        %td= job[:companyname]
        %td= job[:city]

