%h1 Post a New Job
.panel_form
  = form_tag 'preview' do
    .text_style
      = text_field :job , 'name' , :placeholder => 'Your Company Name'
      %br
      = text_field :job , 'title' , :placeholder => 'Job Title'
      %br
      = text_area :job, 'description', :placeholder => 'Job Description'
      %br
      = text_field :job, 'location', :placeholder => 'City,State,Postal Code'
      %br
      = text_field :job, 'email', :placeholder => 'Contact Email'
      %br
      = submit_tag 'Continue',:class => 'common_button_search'  
