.my_new_job
  .list_table
    #Raleway_font
      Posted Job
    .form_title
    %ul.manager
      %li
        Company Name:
        = @job.companyname
      %li
        Job Title:
        = @job.title
      %li
        Job Description:
        = @job.desc
      %li
        Requirements:
        = @job.reqs
      %li
        Desired Qualifications:
        = @job.desire
      %li
        Location:
        = @job.city+' '+@job.city
      %li
        Link:
        = @job.link
    .form_title
    #div_twobtn_float_left
      = button_to 'Edit', edit_job_path(@job) ,:class => 'common_button_search',:method => :get
    = button_to 'Delete', job_path(@job), :method => :delete, :confirm => 'Are you sure?' ,:class => 'common_button_search'
