.middle
  .common_form
    %h1 New Users
    = form_tag users_path do
      .text_style
        = text_field :user, 'name',:placeholder => 'Name'
        %br
        = text_field :user, 'email',:placeholder => 'Email'
        %br
        = password_field :user, 'password', :placeholder => 'Password'
        %br
        = password_field :user, 'password_confirmation', :placeholder => 'PSW Confirm'
        %br
        = submit_tag 'Create my account'
