!!!5
%html
  %head
    %title ExternMe
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    
    -if !@current_user
      -if current_page?(jobs_path)
        .account
          =link_to 'Login/Register', login_path, :method=>:get
      -else
        .accountLoggedin
          %div.account_logo
            =link_to image_tag("externme.png", :alt => "home page"),jobs_path
            = form_tag jobs_search_path, :method => :get do
              = select :search, :radio ,['All','Title', 'Company', 'Location']
              = text_field :search, 'title',:id => 'search_box', :class=>'barSearchBox'      
              = submit_tag 'Search',:class => 'common_button_bar_search'
          %div.account_info
            =link_to 'Back to home page', jobs_path
    -else
      -if current_page?(jobs_path)
        .accountLoggedin
          %div.account_info
            Welcome, 
            =link_to "#{@current_user.name}", user_path(User.find_by_email(@current_user.email)), :method=>:get
            |
            =link_to 'Sign Out', logout_path, :method=>:delete
      -else
        .accountLoggedin
          %div.account_logo
            =link_to image_tag("externme.png", :alt => "home page"),jobs_path
            = form_tag jobs_search_path, :method => :get do
              = select :search, :radio ,['All','Title', 'Company', 'Location']
              = text_field :search, 'title',:id => 'search_box', :class=>'barSearchBox'      
              = submit_tag 'Search',:class => 'common_button_bar_search'

          %div.account_info
            
            Welcome, 
            =link_to "#{@current_user.name}", user_path(User.find_by_email(@current_user.email)), :method=>:get
            |
            =link_to 'Sign Out', logout_path, :method=>:delete



      .clear
    - if flash[:notice]
      #notice.message= flash[:notice]
    - if flash[:warning]
      #warning.message= flash[:warning]

    = yield
